/* .taskbar{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: black;
} */
.principaldesk{
    background-color: orange;
    font-size: 30px;
}
.aboutcollege{
    background-color: orange;
    font-size: 30px;
}
a{
    color: rgb(98, 9, 9);
    text-decoration: none;
}
